body,
html,
#app,
#root {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;

    .scroll-section {
        min-height: 100vh; // old browsers compatibility
        min-height: 100svh;
        transition: transform 0.5s ease;
    }
}
